* {
	font-size: 20px;
	font-family: JetBrains Mono NerdFont;
}

window#waybar {
	background: #1a1a1a;
	color: #fdf6e3;
}

#workspaces,
#clock.1,
#clock.2,
#clock.3,
#wireplumber,
#network,
#memory,
#cpu,
#battery,
#disk,
#tray {
	background: #1a1a1a;
}

#workspaces button {
	padding: 0 2px;
	color: #fdf6e3;
}

#workspaces button.active {
  color: gold;
}
#workspaces button.focused {
	color: #268bd2;
}
#workspaces button:hover {
	box-shadow: inherit;
	text-shadow: inherit;
}
#workspaces button:hover {
	background: #0a0a0a;
	border: #1a1a1a;
	padding: 0 3px;
}

#cava {
	color: #c25cf4;
}

#wireplumber {
	color: #268bd2;
}
#memory {
	color: #2aa198;
}
#cpu {
	color: #6c71c4;
}
#battery {
	color: #859900;
}
#disk {
	color: #b58900;
}
#network {
  color: #489a54;
}

#clock,
#wireplumber,
#memory,
#network,
#cpu,
#battery,
#disk {
	padding: 0 10px;
}

#cava {
  padding: 0 30px;
}
